.header

.about .row
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.about .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-images
{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .service-list a
{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    position: relative
}
.about .service-list span
{
    color: var(--primary-color);
    margin-right: 5px;
    opacity: .8;
}
.about .about-images
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.creative
{
    background: var(--bg-grey);
    margin-top: 10px;
}
.creative .row
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.creative .menu-icon
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.creative .items
{
    padding: 40px 30px;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: var(--bg-color);
}
.services h3
{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
.gallery .title-no1
{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.gallery .title-no2
{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
.gallery .row
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.gallery a
.gallery .items_hover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--layer);;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.gallery .hover-content
{
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}